.car{
    padding-bottom: 50%;
}

* {
    box-sizing: border-box;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  }
  
  .flex-item-left {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
  }
  
  .flex-item-right {
    background-color: dodgerblue;
    padding: 10px;
    flex: 50%;
  }
  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

  .sizepic{
    width:50%;
    height: 50%;
  }

  .cards{
    display: flex;
  }
.iconcards{
  border-style: none;
  padding-left: 10% ;
  padding-right:10% ;
}
.title{
  color:lightpink;
  text-align: center;
}

.pic{
  background-image: url("https://media.istockphoto.com/id/1189188730/photo/flying-make-up-brushes.jpg?s=612x612&w=0&k=20&c=U5YYX-ZKTcPSlIqidr_Q6fxrZs5QtKn0YXAP3Ta4mwo=");
  background-repeat:no-repeat;
 background-size: cover !important;
 min-height: 700px;
    
}

.btnn{
 background-color:lightpink;
 color: black;
 border: 3px solid transparent;
 margin: 10%;
border-radius: 5%;
animation: pulse 2s infinite;

}

.btnn:hover{
  background-color: plum;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}



.ul{
 list-style-type:none;
}


.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  background-color: black;
}
.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
.delivery{
  font-size: larger;
  color:white;
}

.nav-link{
  color:palevioletred;

}
.footer{
  padding: 100px;
  background-color: black;
}

.logo{
  color: white;
  font-size: 50px;
}

.addCart{
 background-color:lightpink;
 color: black;
 border: 3px solid transparent;
 margin: 10%;

animation: pulse 2s infinite;

}

.addCart:hover{
  background-color: plum;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.cd{
  background-color: lightgray;
}


.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}
.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.bt{
 background-color:lightgreen;
 color: black;
 border: 3px solid transparent;
 margin: 10%;
border-radius: 5%;
animation: pulse 2s infinite;

}

.bt:hover{
  background-color:grey;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.cart-bg-img{
  background-image:url(https://img.freepik.com/free-vector/beige-leafy-watercolor-background-vector_53876-136491.jpg?semt=ais_hybrid&w=740);
  background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}

.bg{
  background-color: palevioletred;
}

.video{
  width: 650px;
  height:450px;
  padding:2%;
}

.bgvd{
  background-color: black;
}

.title-vd{
  text-align: center;

}

.card-title{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-box{
  margin-left: 150px;
  margin-right:150px;
  border: black solid;
  padding:5%;
}
