.car{
    padding-bottom: 50%;
}

* {
    box-sizing: border-box;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  }
  
  .flex-item-left {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
  }
  
  .flex-item-right {
    background-color: dodgerblue;
    padding: 10px;
    flex: 50%;
  }
  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

  .sizepic{
    width:50%;
    height: 50%;
  }

  .cards{
    display: flex;
  }
.iconcards{
  border-style: none;
  padding-left: 10% ;
  padding-right:10% ;
}
.title{
  color:lightpink;
  text-align: center;
}

.pic{
  background-image: url("https://media.istockphoto.com/id/1189188730/photo/flying-make-up-brushes.jpg?s=612x612&w=0&k=20&c=U5YYX-ZKTcPSlIqidr_Q6fxrZs5QtKn0YXAP3Ta4mwo=");
  background-repeat:no-repeat;
 background-size: cover !important;
 min-height: 700px;
    
}

.btn{
 background-color:lightpink;
 color: black;
 border: 3px solid transparent;
 margin: 10%;

animation: pulse 2s infinite;

}

.btn:hover{
  background-color: plum;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}



.ul{
 list-style-type:none;
}


.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}
.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
.delivery{
  font-size: larger;
  color:mediumvioletred;
}

.nav-link{
  color:palevioletred;

}
.footer{
  padding: 100px;
  background-color: black;
}

.logo{
  color: white;
  font-size: 50px;
}

.cart {
  margin-top:30px;
  padding:10px;
  border:2px solid #000;
  background-color: #f1f1f1;
}
